<section id="char-info" class="side-panel">
  <h1>MUME</h1>
  <h3>Char Builder</h3>
  <div id="faction-btns" class="btn-group">
    <button id="faction-free-folk" data-faction="Free Folk" class="selected">Free Folk</button>
    <button id="faction-sauron" data-faction="Sauron">Sauron</button>
    <button id="faction-renegades" data-faction="Renegades">Renegades</button>
  </div>

  <div id="choose-race">
    <label for="race">Race:</label>
    <select id="race"></select>
  </div>

  <div id="choose-subrace">
    <label for="subrace">Subrace:</label>
    <select id="subrace"></select>
  </div>

  <div id="choose-level">
    <label for="level">Level:</label>
    <input type="number" id="level" name="level" min="1" max="100" value="25">
  </div>

  <svg id="moon-light" class="moon-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3a7 7 0 0 0 9.79 9.79z"></path></svg>

  <svg id="moon-dark" class="moon-icon-filled hide" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M21 12.79A9 9 0 1 1 11.21 3a7 7 0 0 0 9.79 9.79z"></path></svg>
</section>
