<footer></footer>

<dialog id="copy-dialog">
  <h3>Build Link</h3>
  <p class="desc">The link to this build has been copied to your clipboard</p>
  <a id="copied-link" href="" target="_blank"></a>
  <button id="close-dialog" class="btn">OK</button>
</dialog>

</body>
</html>