<footer></footer>

<dialog id="copy-dialog">
  <h3>Build Link</h3>
  <a id="copied-link" class="hidden" href="" target="_blank"></a>
  <button id="close-dialog" class="btn hidden">OK</button>
</dialog>

</body>
</html>