<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUME Char Builder</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/char-info.css">
    <link rel="stylesheet" href="css/skills.css">
    <link rel="stylesheet" href="css/statgen.css">
    <link rel="stylesheet" href="css/traits.css">
    <script type="module" src="js/main.js"></script>
</head>
<body>