<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUME Char Builder</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/layout.css?v=1.0.10">
    <link rel="stylesheet" href="/css/elements.css?v=1.0.4">
    <link rel="stylesheet" href="/css/char-info.css?v=1.0.4">
    <link rel="stylesheet" href="/css/skills.css?v=1.0.5">
    <link rel="stylesheet" href="/css/statgen.css">
    <link rel="stylesheet" href="/css/traits.css">
    <script>
        <% if (typeof build_data !== 'undefined') { %>
            window.build_data = <%- JSON.stringify(build_data) %>;
        <% } %>
    </script>
    <script type="module" src="/js/main.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery.peity.min.js"></script>
    <script>
        // #e9ebf1
        $.fn.peity.defaults.pie = {
            delimiter: null,
            fill: ["#04a5e5", "#B5BBD5"],
            height: null,
            width: null,
            radius: 5,
        }
    </script>
</head>
<body>