<div id="skills-tabs" class="tabs">
  <span class="tab active" data-class="all">All</span>
  <span class="tab" data-class="Ranger">Ranger <span class="pie">0/0</span></span>
  <span class="tab" data-class="Thief">Thief  <span class="pie">0/0</span></span>
  <span class="tab" data-class="Warrior">Warrior  <span class="pie">0/0</span></span>
  <span class="tab" data-class="Mage">Mage  <span class="pie">0/0</span></span>
  <span class="tab" data-class="Priest">Priest  <span class="pie">0/0</span></span>
  <span class="tab" data-class="Shaman" style="display: none">Shaman <span class="pie">0/0</span></span>
</div>