<div id="statgen">
  <div>
    <label for="str">
      <div>Str: <span id="str-current">8</span></div>
      <span id="str-min">8</span> 
      <input type="range" id="str" name="str" min="8" max="18" value="8">
      <span id="str-max">18</span> 
    </label>
  </div>
  <div>
    <label for="int">
      <div>Int: <span id="int-current">8</span></div>
      <span id="int-min">8</span> 
      <input type="range" id="int" name="int" min="8" max="18" value="8">
      <span id="int-max">18</span> 
    </label>
  </div>
  <div>
    <label for="wis">
      <div>Wis: <span id="wis-current">8</span></div>
      <span id="wis-min">8</span> 
      <input type="range" id="wis" name="wis" min="8" max="18" value="8">
      <span id="wis-max">18</span> 
    </label>
  </div>
  <div>
    <label for="dex">
      <div>Dex: <span id="dex-current">8</span></div>
     <span id="dex-min">8</span> 
     <input type="range" id="dex" name="dex" min="8" max="18" value="8">
     <span id="dex-max">18</span> 
    </label>
  </div>
  <div>
    <label for="con">
      <div>Con: <span id="con-current">8</span></div>
      <span id="con-min">8</span> 
      <input type="range" id="con" name="con" min="8" max="18" value="8">
      <span id="con-max">18</span> 
    </label>
  </div>
  <div>
    <label for="wil">
      <div>Wil: <span id="wil-current">8</span></div>
      <span id="wil-min">8</span> 
      <input type="range" id="wil" name="wil" min="8" max="18" value="8">
      <span id="wil-max">18</span> 
    </label>
  </div>
  <div>
    <label for="per">
      <div>Per: <span id="per-current">8</span></div>
      <span id="per-min">8</span> 
      <input type="range" id="per" name="per" min="8" max="18" value="8">
      <span id="per-max">18</span> 
    </label>
  </div>

  <div>
    <p id="availablePoints">Available points: 175</p>
    <button id="resetButton">Reset</button>
  </div>
</div>
