html, body {
  height: 100%;
  min-width: 1190px;
  font-size: 16px;

  background-color: #faf4ed;
}

main {
  display: flex;
  height: 100vh;
}

.side-panel {
  position: sticky;
  top: 0;
  width: 20em;
  height: 100vh;
  overflow-y: hidden;
  background-color: #e1eef8;
  padding: 2em;
}

#char-info {
  label { display: block; }

  h1 { font-size: 2em; line-height: 1; margin-top: 1em; }
  h3 { font-size: 1.5em; }
  h1, h3 { text-align: center; }
  h3 { margin-bottom: 1em; }

  > div { margin-bottom: 1em; }

  select {
    padding: 0.2em 0.6em;
  }

  #faction-btns {
    display: inline-flex;
    flex-direction: row;
    vertical-align: baseline;
    /*margin: 0 .25em 0 0;*/  

    button {
      border: 1px solid #888;
      padding: 0.2em 0.6em;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
      }

      &:last-child {
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
      }
      &:not(:last-child) {
        border-right: 0;
      }
      &:hover {
        opacity: 0.75;
      }
    }

    button.selected {
      font-weight: bold;
    }
  }
}

#statgen {
  text-align: center;

  > div { margin-bottom: 0.3em; }
  input[type="range"] { margin-right: 0.5em; }

  span {
    width: 16px;
    display: inline-block;
    opacity: 0.4;
  }

  .stat-name { font-weight: bold; }
  .stat-name span { opacity: 1.0; }
}


#skills-top {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  padding-top: 1em;
  padding-bottom: 0;

  > div { width: 100%; padding: 0 2em; }
  .float-right { float: right; margin-top: 5px; }

  .tab {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    display: inline-block;
    margin-bottom: -1px;

    &.active { font-weight: bold; }
  }
}

#skills {
  flex: 1;
  overflow-y: auto;
}
#skills-list {
  padding: 2em;
}

@media (max-width: 880px) {
  main {
    flex-direction: column;
  }

  #char-info, #statgen, #skills {
    position: static;
    width: 100%;
    height: auto;
  }

  #char-info { order: 1; }
  #statgen { order: 2; }
  #skills { order: 3; }

}


.card {
  background: hsla(209, 24%, 78%, 0.21);
  padding: 1em;
  margin: 1em;
}

.container {
  display: flex;
}


.skill-group {
  border: 1px solid #d2d3c3;
  border-radius: 0.3em;
  margin-bottom: 1em;

  .skill-group-title {
    /*grid-column: span 2;*/
    font-weight: bold;
    padding: 0.5em 0.8em;
    background-color: hsla(50, 32%, 89%, 0.21)
  }
  
  .skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #d2d3c3;
    padding: 0.5em 0.8em;
    /*padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;*/
  }
  
  .skill-content {
    width: 100%;
  }
  
  .skill-name {
    width: 8em;
  }
  
  .skill-pracs {
    flex: 1;
    display: flex;
    align-items: center;
  
    input { margin-right: 0.5em; max-width: 3em; }
  }
  
  .skill-knowledge {
    margin-left: 2em;
  }
  
}


.pracs-spent {
  width: 50px;
  margin-right: 5px;
}


#traits {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: none;
}

.trait {
  background: hsla(209, 24%, 78%, 0.21);
  padding: 1em;
  margin: 1em;
  font-size: 0.8em;

  h4 { margin: 0; display: none; }
  p { margin: 0; }
}