#char-info {
  position: relative;
  label { 
    display: block;
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 0.8em;
  }

  h1 { font-size: 2em; line-height: 1; margin-top: 1em; }
  h3 { font-size: 1.5em; }
  h1, h3 { text-align: center; }
  h3 { margin-bottom: 1em; }

  > div { margin-bottom: 1em; }

  #faction-btns {
    display: inline-flex;
    flex-direction: row;
    vertical-align: baseline;
    /*margin: 0 .25em 0 0;*/  

    button {
      background-color: var(--surface0);
      color: var(--text);
      padding: 0.2em 0.6em;
      padding: 5px 10px;
      cursor: pointer;
      display: inline-block;
      border: 0;
      border-bottom: 2px solid transparent;

      cursor: pointer;

      &:first-child {
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
      }

      &:last-child {
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
      }
      &:not(:last-child) {
        border-right: 0;
      }
      &:hover {
        border-bottom-color: var(--overlay1);
      }
      &.selected {
        font-weight: bold;
        background-color: var(--surface1);
      }
    }
  }

  #name {
    background: var(--surface1);
    color: var(--text);
    width: 10em;
    padding: 0.4em 0.8em;
    border: 0;
    border-radius: 0.3em;
  }

  #level {
    background: var(--surface1);
    color: var(--text);
    padding: 0.4em 0.8em;
    border-radius: 0.3em;
  }

  svg.moon {
    position: absolute;
    bottom: 1.55em;
    left: 1.5em;
    cursor: pointer;
  }

  .github-btn {
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    line-height: 1.3;

    svg { display: inline; fill: currentColor; }
    span { margin-left: 0.3em; }
  }

  .form-container {
    display: flex;
    gap: 10px;

    > div {
      display: flex;
      flex-direction: column;
      flex-basis: calc(50% - 10px);
      select, #name { width: 100%; }
    }
  }
}

@media (max-width: 1100px) and (min-width: 820px) {
  #char-info {
    h1 { margin-top: 2em; }
    svg.moon {
      position: absolute;
      top: 1.55em;
      left: 1.5em;
      right: auto;
      bottom: auto;
      cursor: pointer;
    }

    .github-btn { display: none; }
  }
}

@media (max-width: 820px) {
  #char-info {
    position: static;
    width: 21em;
    margin: 0 auto;

    svg.moon {
      position: absolute;
      top: 1.55em;
      right: 1.5em;
      left: auto;
      bottom: auto;
      cursor: pointer;
    }

    .github-btn { display: none; }
  }
}
