.card {
  background: hsla(209, 24%, 78%, 0.21);
  padding: 1em;
  margin: 1em;
}

#char-setup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  label { display: block; }
}

.container {
  display: flex;
}

#statgen {
  text-align: center;
  font-size: 0.8em;
  span { vertical-align: top; }
  margin-right: 4em;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;


  input[type="range"] { margin-right: 0.5em; }

  span {
    width: 16px;
    display: inline-block;
  }
}

#skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.skill-group {
  
}

.skill-group-title {
  grid-column: span 2;
  font-weight: bold;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.skill-content {
  width: 100%;
}

.skill-name {
  width: 8em;
}

.skill-pracs {
  flex: 1;
  display: flex;
  align-items: center;

  input { margin-right: 0.5em; max-width: 3em; }
}

.skill-knowledge {
  margin-left: 2em;
}

.pracs-spent {
  width: 50px;
  margin-right: 5px;
}


#traits {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.trait {
  background: hsla(209, 24%, 78%, 0.21);
  padding: 1em;
  margin: 1em;
  font-size: 0.8em;

  h4 { margin: 0; display: none; }
  p { margin: 0; }
}