html[data-theme="light"] {
  --base: #eff1f5;
  --crust: #dce0e8;
  --mantle: #e6e9ef;
  --surface0: #ccd0da;
  --surface1: #bcc0cc;
  --surface2: #acb0be;
  --overlay0: #9ca0b0;
  --overlay1: #8c8fa1;
  --overlay2: #7c7f93;

  --text: #4c4f69;
  --sub-text0: #6c6f85;
  --sub-text1: #5c5f77;

  --lavendar: #7287fd;
  --blue: #1e66f5;
  --sapphire: #209fb5;
  --sky: #04a5e5;
  --teal: #179299;
  --green: #40a02b;
  --yellow: #df8e1d;
  --peach: #fe640b;
  --maroon: #e64553;
  --red: #d20f39;
  --mauve: #8839ef;
  --pink: #ea76cb;
  --flamingo: #dd7878;
  --rosewater: #dc8a78;

  --accent: var(--lavendar);
}

html[data-theme="dark"] {
  --base: #303446;
  --crust: #232634;
  --mantle: #292c3c;
  --surface0: #414559;
  --surface1: #51576d;
  --surface2: #626880;
  --overlay0: #737994;
  --overlay1: #838ba7;
  --overlay2: #949cbb;

  --text: #c6d0f5;
  --sub-text0: #a5adce;
  --sub-text1: #b5bfe2;

  --lavendar: #babbf1;
  --blue: #8caaee;
  --sapphire: #85c1dc;
  --sky: #99d1db;
  --teal: #81c8be;
  --green: #a6d189;
  --yellow: #e5c890;
  --peach: #ef9f76;
  --maroon: #ea999c;
  --red: #e78284;
  --mauve: #ca9ee6;
  --pink: #f4b8e4;
  --flamingo: #eebebe;
  --rosewater: #f2d5cf;

  --accent: var(--lavendar);
}