.btn {
  background-color: var(--surface1);
  color: var(--text);
  border: 0;
  padding: 0.4em 0.8em;
  border-radius: 0.3em;
  cursor: pointer;

  &:hover { background-color: var(--surface2); }
}

select {
  padding: 0.5em 0.8em;
  background: var(--surface1);
  color: var(--text);
  border: 0;
  border-radius: 0.3em;
  cursor: pointer;
}

input:focus {
  outline: none;
  outline: 2px solid var(--accent);
}

input[type="number"] {
  border: 0;
  background: var(--mantle);
  color: inherit;
}

input[type="range"] {
  cursor: pointer;
}

html[data-theme="dark"] {
  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }
}


dialog {
  width: 30em;
  padding: 1.5em;
  margin: auto;
  border: none;
  border-radius: 0.3em;
  background-color: var(--mantle);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  z-index: 10;

  h3 { margin-bottom: 0; color: var(--text); }
  a#copied-link { display: block; word-break: break-word; margin-bottom: 1.5em; color: var(--sky); }
}

/* Fullscreen overlay behind the dialog */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

span.pie { display: none; }
svg.peity { display: inline; }