@font-face {
  font-family: 'Signika';
  src: url('/fonts/Signika-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

body {
  font-family: 'Signika', sans-serif;
}

.btn {
  background-color: var(--surface1);
  color: var(--text);
  border: 0;
  padding: 0.4em 0.8em;
  border-radius: 0.3em;
  cursor: pointer;

  &:hover { background-color: var(--surface2); }
}

select {
  padding: 0.5em 0.8em;
  background: var(--surface1);
  color: var(--text);
  border: 0;
  border-radius: 0.3em;
}

input:focus {
  outline: none;
  outline: 2px solid var(--accent);
}

input[type="number"] {
  border: 0;
  background: var(--mantle);
  color: inherit;
}

html[data-theme="dark"] {
  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }
}