@font-face {
  font-family: 'Signika';
  src: url('fonts/Signika.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
  font-family: 'Signika', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;

  background-color: var(--crust);
  color: var(--text);
}

main {
  display: grid;
  grid-template-columns: 19em 1fr 19em;
  grid-template-rows: 100vh;
  grid-template-areas: 
    "char-info skills statgen";
}

.side-panel {
  position: sticky;
  top: 0;
  width: 19em;
  height: 100vh;
  overflow-y: hidden;
  padding: 1.5em;
}

#char-info { grid-area: char-info; }
#skills { grid-area: skills; overflow-y: auto; background-color: var(--base); }
#statgen { grid-area: statgen; }


/* tablets */
@media (max-width: 1100px) and (min-width: 820px) {
  main {
    display: block;
    overflow: visible;
  }

  .side-panel {
    height: auto;
    width: 19em;
    float: left;
  }

  #statgen {
    clear: left;
  }

  #skills {
    float: right;
    width: calc(100% - 19em); /* Remaining width for right column */
    overflow: visible;  /* needed for sticky tabs */
  }

  footer {
    clear: both; /* Clear floats for the footer */
  }
}


/* phones */
@media (max-width: 820px) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "char-info"
      "statgen"
      "skills";
  }

  .side-panel {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 1em;
  }

  #skills {
    height: auto;
  }
}