html, body {
  height: 100%;
  min-width: 1150px;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;

  background-color: var(--base);
  color: var(--text);
}

main {
  display: flex;
  height: 100vh;
}

.side-panel {
  position: sticky;
  top: 0;
  width: 21em;
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--crust);
  padding: 1.5em;
}

#skills {
  flex: 1;
  overflow-y: auto;
}


@media (max-width: 880px) {
  main {
    flex-direction: column;
  }

  #char-info, #statgen, #skills {
    position: static;
    width: 100%;
    height: auto;
  }

  #char-info { order: 1; }
  #statgen { order: 2; }
  #skills { order: 3; }

}

.container {
  display: flex;
}

