#skills-top {
  position: sticky;
  top: 0;
  background-color: var(--mantle);
  z-index: 10;
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  > div { width: 100%; padding: 0 1.5em; }
  .float-right { float: right; margin-top: 5px; }

  .tab {
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--crust);
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    display: inline-block;
    border-bottom: 2px solid transparent;


    &.active { font-weight: bold; background-color: var(--surface0); }
    &:hover { border-bottom-color: var(--surface2); }
  }

  svg.filter-pracs {
    display: inline;
    margin-right: 0.5em;
    vertical-align: text-top;
    cursor: pointer;
    color: var(--text);

    &.enabled { color: var(--sky); }
  }
}

#skills-list {
  padding: 1.5em;
  
  .skill-group {
    border: 1px solid var(--surface0);
    border-radius: 0.3em;
    margin-bottom: 1em;

    .skill-group-title {
      display: flex;
      justify-content: space-between;
      /*grid-column: span 2;*/
      padding: 0.5em 0.8em;
      background-color: var(--crust);

      .skill-group-pracs { }

      svg { vertical-align: middle; margin-left: 0.5em; }
      span { font-weight: normal; }
    }
    
    .skill {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid var(--surface0);
      padding: 0.5em 0.8em;
      /*padding: 6px 12px;
      border: 1px solid #ccc;
      border-radius: 5px;*/

      &.learned {
        background-color: color-mix(in srgb, var(--mantle), #fff 10%);
        color: var(--sky);
        font-weight: bold;

        .skill-stats { opacity: 0.8; }
      }

      &:hover {
        background-color: color-mix(in srgb, var(--mantle), #fff 20%);
      }
    }
    
    .skill-content {
      width: 100%;
    }
    
    .skill-name {
      flex: 1;
    }

    .skill-stats { 
      flex: 1;
      justify-content: center;
      font-size: 0.8em;
      font-style: italic;
      font-weight: bold;
      opacity: 0.5;
    }
    
    .skill-pracs {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    
      input { 
        margin-right: 0.5em; 
        max-width: 3em; 
        text-align: center;
      }
    }
    
    .skill-knowledge {
      flex: 1;
      text-align: right;
    }
  }

  &.show-learned .skill:not(.learned) {
    display: none;
  }
}

html[data-theme="dark"] {
  #skills-list input[type="number"] {
    max-width: 2em;
  }
}


@media (max-width: 600px) {
  #skills-list .skill-group .skill-stats {
    display: none;
  }
}