#skills-top {
  position: sticky;
  top: 0;
  background-color: var(--mantle);
  z-index: 10;
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 0;

  > div { width: 100%; padding: 0 2em; }
  .float-right { float: right; margin-top: 5px; }

  .tab {
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--crust);
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    display: inline-block;
    border-bottom: 2px solid transparent;


    &.active { font-weight: bold; background-color: var(--surface0); }
    &:hover { border-bottom-color: var(--surface2); }
  }
}

#skills-list {
  padding: 2em;
  
  .skill-group {
    border: 1px solid var(--surface0);
    border-radius: 0.3em;
    margin-bottom: 1em;

    .skill-group-title {
      /*grid-column: span 2;*/
      font-weight: bold;
      padding: 0.5em 0.8em;
      background-color: var(--crust);
    }
    
    .skill {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid var(--surface0);
      padding: 0.5em 0.8em;
      /*padding: 6px 12px;
      border: 1px solid #ccc;
      border-radius: 5px;*/
    }
    
    .skill-content {
      width: 100%;
    }
    
    .skill-name {
      width: 8em;
    }

    .skill-stats { 
      width: 9em;
      font-size: 0.8em;
      font-style: italic;
      font-weight: bold;
      opacity: 0.5;
      margin-right: 4em;
      text-align: center;
    }
    
    .skill-pracs {
      flex: 1;
      display: flex;
      align-items: center;
    
      input { 
        margin-right: 0.5em; 
        max-width: 3em; 
        text-align: center;
      }
    }
    
    .skill-knowledge {
      margin-left: 2em;
    }
    
  }
}

html[data-theme="dark"] {
  #skills-list input[type="number"] {
    max-width: 2em;
  }
}