#statgen {
  text-align: center;

  > div { margin-bottom: 0.3em; }
  input[type="range"] { margin-right: 0.5em; }

  span {
    width: 16px;
    display: inline-block;
    opacity: 0.4;
  }

  .stat-name { font-weight: bold; }
  .stat-name span { opacity: 1.0; }
}