#statgen {
  text-align: center;

  > div { margin-bottom: 0.3em; }
  input[type="range"] { margin-right: 0.5em; }

  span {
    width: 16px;
    display: inline-block;
    color: var(--sub-text0);
  }

  .stat-name { font-weight: bold; }
  .stat-name span { color: var(--text); }

  button { margin-top: 0.5em; }
}