<%- include('../partials/header') %>


<main>
  <%- include('../partials/char_info') %>
  <div id="skills"></div>
  <%- include('../partials/statgen') %>
</main>

<div id="traits"></div>


<%- include('../partials/footer') %>